*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15%;
    background: linear-gradient(90deg, rgba(124,59,167,1) 0%, rgba(124,59,167,1) 0%, rgba(26,9,37,1) 95%);
}
#informação_usuario img{
    width: 50%;
    border-radius: 100% ;
    margin-bottom: 15px;
}
#informação_usuario{
    margin: 30px;
    margin-top: 0;
    border-top: 0px;
    color: white;
    font-size: 15px;
}
#link_semImg li{
    list-style-type:none;
    margin-bottom: 30px;
    border: 2px solid #7c3ba7;
    padding: 15px;
    background-color: white;
    font-size: 17px;
    color: black;
    border-radius: 5px;
}
#link_semImg a:link{
    color: white;
    cursor: pointer;
}
#link_semImg a:visited{
    text-decoration: none;
}
#link_semImg li:hover{
    background: linear-gradient(90deg, rgba(124,59,167,1) 0%, rgba(124,59,167,1) 0%, rgba(234,228,238,1) 95%);
    transition:  0.5s;
    font-size: 20px;
}
#link_comImg img{
    margin-right: 10px;
 }
#link_comImg{
    margin-bottom: 15%;
}

